*{
    margin-top: 10px;
}

.navbar-brand img{
    height: 40px;
    width: 250px;
}
.navbar-nav{
   margin-left: 550px;
}
#nav{
    background-color: rgb(224, 157, 133);
}
.first-card{
    border: 0;
}

